// Esquema de fontes
$fontPrincipal: Roboto, sans-serif;

// Esquema de cores
$corPrimaria: #182C61;
$corSecundaria: #44bd32;
$cor-secundaria-hover: #4cd137;
$corDeFundo: #f5f6fa;

// Esquema de Largura
$max-width: 1024px;

// Breakpoints
$mobile: 767px;
$tablet: 1023px;